
<h1>About Dracula</h1>

<p> something something</p>


<button class="btn btn-primary" {{action 'showRealName'}}> Click here to learn my real name</button>


{{#if isPictureShowing}}
<button class="btn btn-info" {{action 'hidePicture'}}>Hide that scary face!!!!!</button>
<p><img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-dracula-8.gif" alt="A photo of Dracula"> </p>
{{else}}
<button class="btn btn-info" {{action 'showPicture'}}>Click here to see a picture of Dracula!</button>
{{/if}}
