<div class="container">
  <nav class= 'navbar navbar-default' role='navigation'>
    <ul class= "nav navbar-nav">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </nav>

  <h1> Contact </h1>
   <ul>
     <li>Phone: 1-800-WHATEVER</li>
     <li><a href="count@WHATEVERdracula.com">count@WHATEVERdracula.com</a>.</li>
     <li>Website:<a href="http://whateverlikebloodiscool.com">Whatever Like Blood is Cool</a></li>
   </ul>
</div>
