<div class="row">

  <div class="col-md-6">

  <h1> Contact </h1>
    <ul>
     <li>{{#link-to 'phone'}}Phone{{/link-to}}</li>
      <li>{{#link-to 'email'}}Email{{/link-to}}</li>
    </ul>
  </div>

{{#if messageSent}}
  <p> Thank you for your message. We will ge back to you Never. Your confirmation number is {{confirmationNumber}}.</p>

{{else}}

  <p>Or, <a href="#" {{action 'sendMessage'}}>click here</a> to send a secret message:</p>

{{/if}}




  <div class="col-md-6">
  {{outlet}}
  </div>
</div>
