

<h1>Dracula's Blog</h1>
<ul>
  {{#each}}
    <li>{{#link-to 'post' this.id}}{{title}}{{/link-to}}</li>
    <!-- links to individual posts throught the array -->
  {{/each}}

</ul>

<button class="btn btn-primary" {{action 'sortByTitle'}}>Sort Posts by Title</button>
