<div class="container">

  <nav class= 'navbar navbar-default' role='navigation'>
    <ul class= "nav navbar-nav">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}contact{{/link-to}}</li>
    </ul>
  </nav>
  <h1>Dracula's Blog</h1>
  <ul>
    <li><a href="#">I love Blood!</a></li>
    <li><a href="#">I love Sun Block!</a></li>
    <li><a href="#">I love Holy Water!</a></li>
  </ul>
</div>
